[Unit]
Description=Initialize chprobe
After=network-online.target syslog.target

[Service]
Type=oneshot
RemainAfterExit=True
Environment="probedir=/home/chprobe/"
EnvironmentFile=/var/chprobe/chprobe_vars
ExecStart=/bin/bash /root/fw-rules
ExecStart=/bin/bash ${probedir}probemanager update
ExecStart=/bin/bash ${probedir}callhome.sh
ExecStart=/bin/bash ${probedir}upnpc-probe.sh

[Install]
WantedBy=multi-user.target

