[Unit]
Description=chprobe stream %I
After=syslog.target network.target auditd.service
 
[Service]
Type=simple
User=chprobe
Group=chprobe
WorkingDirectory=/usr/bin
EnvironmentFile=/var/chprobe/chprobe.cfg
ExecStart=/bin/bash /usr/bin/chprobe_validation -s %i
StandardOutput=null
TimeoutSec=30
RestartSec=15s
Restart=always
 
[Install]
WantedBy=multi-user.target
